<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="row-sm-4">
        <p class = "okay">Computer</p>
        <button (click)="addPc()">Add to cart</button>
        
        <p class = "answer" >{{computer}}</p>
      </div>
      <div class="row-sm-4">
        <p class = "okay">Coffee</p>
        <button (click)="addCoffee()">Add to cart</button>

        <p class = "answer">{{coffee}}</p>
      </div>
      <div class="row-sm-4">
        <p class = "okay">Shoes</p>
        <button (click)="addShoes()">Add to cart</button>

        <p class = "answer">{{shoes}}</p>
      </div>
    </div>
</div>

<app-footer></app-footer>
    
